.level4 {
    img {
        height: 100%;
        max-width: 100%;
        object-fit: contain;
    }

    .title {
        height: 80%;
        width: 100vw;
        min-width: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .start {
        height: 50%;
        display: flex;
        justify-content: center;
        align-content: flex-end;
    }

    
}