.levels {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  scroll-behavior: smooth; 
}

.level {
  display: flex;
  flex-direction: column;
  height: 160vh;
  
}

.levelContainer {
  display: flex;
  gap: 200px;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  
}

.parallax-front {
  z-index: 4;
}

.css-0 {
  opacity: 0;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}