.contactButton {
    width: 100%;
    position: relative;

    img {
        max-height: 100%;
        object-fit: contain;
        max-width: 100%;
        aspect-ratio: 1/1;
    }

    

    .icon {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
    }
}