.table-block {
    span {
        background-color: lightgreen;
    }

    height: 90%;
    width: 700px;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.table__main-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;

    span {
        display: inline;
        background-color: white;
        color: grey
    }
}

.table__head {
    display: flex;
}

.first--column {
    width: 100px;
    display: flex;
    flex-direction: column;
}

.main--part {

    flex: 1 1 0;
    display: flex;

    text-align: center;
}

.table__cell {
    flex: 1 1 0;
}

.table__body {
    flex: 1;
    display: flex;

}


.main--part {
    position: relative;
}

.skill-bar__container {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
}

.horizontalTable {
    text-align: left;

    .table__body {
        .table__cell {
            border-top:1px solid white;
        }

        .main--part {
            flex-direction: column;
        }
    }

    .skill-bar__container {
        align-items: flex-end;
        justify-content: space-around;
    }
}

.verticalTable {
    
    .first--column .table__cell {
        display: flex;
        align-items: center;
    }

    .skill-bar__container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    .main--part .table__cell {
        border-right:1px solid white;
        text-align: right;
    }
}